<div class="card tema-abertura" id="palestra_abertura">
    <button class="card-toggle">
        <i class="fa-solid fa-microphone card-icon-left"></i>
        <div class="toggle-text">
            <div class="toggle-title">Abertura do Evento</div>
            <div class="toggle-subtitle">8/10 - 20:15</div>
        </div>
        <i class="fa-solid fa-calendar-days card-icon-right"></i>
    </button>
    <div class="card-content">
        <p>Cerimônia de abertura com recepção dos alunos e palestrantes.</p>
        <ul>
            <li>
                <strong>Local:</strong> Auditório UDESC Alto Vale (bloco Imbuia,
                3º andar)
            </li>
            <li>
                <strong>Anfitriões:</strong> Prof. Dr. Paolo Moser, Prof. Dr.
                Matheus Rothenburg, Prof. Dr. Nilson Lazarin
            </li>
        </ul>
        <div class="row">
            <div class="medium-4 columns">
                <img
                    class="img-responsive"
                    src="{{ site.urlimg }}foto-paolo-moser.jpg"
                    alt="Marília Guterres Ferreira"
                />
                <p style="text-align: center">Prof. Dr. Paolo Moser</p>
            </div>
            <div class="medium-4 columns">
                <img
                    class="img-responsive"
                    src="{{ site.urlimg }}foto-matheus-rothenburg.jpg"
                    alt="Fernando dos Santos"
                />
                <p style="text-align: center">Prof. Dr. Matheus Rothenburg</p>
            </div>
            <div class="medium-4 columns">
                <img
                    class="img-responsive"
                    src="{{ site.urlimg }}foto-nilson-lazarin.jpg"
                    alt="Carlos Alberto Barth"
                />
                <p style="text-align: center">Prof. Dr. Nilson Lazarin</p>
            </div>
        </div>
    </div>
</div>

<div class="card tema-panorama" id="palestra_x">
    <button class="card-toggle">
        <i class="fa-solid fa-computer card-icon-left"></i>
        <div class="toggle-text">
            <div class="toggle-title">Visita Técnica</div>
            <div class="toggle-subtitle">9/10 – 16:00 às 18:00</div>
        </div>
        <i class="fa-solid fa-briefcase card-icon-right"></i>
    </button>
    <div class="card-content">
        <p>
            A visita técnica será na empresa <strong>Panorama Sistemas</strong>.
            Endereço: Rua 25 de Julho, 111, Sala 110. Centro - Ibirama/SC. A
            UDESC vai oferecer transporte (van) para levar os estudantes até na
            empresa. <strong>O transporte vai sair do CEAVI as 15:30h.</strong>
        </p>
        <p>
            Por limitações operacionais, a quantidade de vagas é limitada a
            <strong>VAGAS ESGOTADAS</strong>. Preencha o formulário abaixo para
            inscrever na visita técnica. Caso a quantidade de inscritos
            ultrapasse a quantidade de vagas, o critério de seleção será a ordem
            de inscrição. Os inscritos selecionados serão comunicados até 8/10.
            Em caso de dúvidas sobre a visita técnica, pode entrar em contato
            com os professores Marília ou Fernando.
        </p>
        <div class="row">
            <div class="medium-4 columns">
                <img
                    class="img-responsive"
                    src="{{ site.urlimg }}logo-panorama-sistemas.png"
                    alt="Logo da Panorama Sistemas"
                />
                <p style="text-align: center">Panorama Sistemas</p>
            </div>
        </div>
    </div>
</div>

<div class="card tema-industriadejogos" id="palestra_a">
    <button class="card-toggle">
        <i class="fa-solid fa-gamepad card-icon-left"></i>
        <div class="toggle-text">
            <div class="toggle-title">Indústria de Jogos</div>
            <div class="toggle-subtitle">10/10 – 19:00 às 20:15</div>
        </div>
        <i class="fa-solid fa-puzzle-piece card-icon-right"></i>
    </button>
    <div class="card-content">
        <p>
            Veremos como a indústria de jogos se comporta do ponto de vista de
            desenvolvedores, explorando suas características e particularidades
            e analisando seus prós e seus contras. Além disso, vou compartilhar
            a dinâmica salarial e projetos que experimentei ao longo da minha
            carreira e com o avançar da minha senioridade. Para finalizar, darei
            algumas orientações para quem tem interesse em ingressar na área de
            desenvolvimento de jogos.
        </p>
        <div class="row">
            <div class="medium-4 columns">
                <img
                    class="img-responsive"
                    src="{{site.urlimg}}foto-andre-gomes.jpg"
                    alt="André Luiz Cordeiro Gomes"
                />
                <p style="text-align: center">
                    André Luiz Cordeiro Gomes (Kokku)
                </p>
            </div>
        </div>
        <p>
            <strong>Local:</strong> Auditório UDESC Alto Vale (bloco Imbuia, 3º
            andar)
        </p>
        <p>
            <strong>Anfitrião:</strong> Prof. Dr.
            <a href="#av">Adilson Vahldick</a> (UDESC)
        </p>
    </div>
</div>

<div class="card tema-egressos" id="palestra_b">
    <button class="card-toggle">
        <i class="fa-solid fa-users card-icon-left"></i>
        <div class="toggle-text">
            <div class="toggle-title">Painel com Egressos</div>
            <div class="toggle-subtitle">10/10 – 20:45 às 22:00</div>
        </div>
        <i class="fa-solid fa-handshake card-icon-right"></i>
    </button>
    <div class="card-content">
        <p>
            Neste painel teremos um bate-papo com egressos de Engenharia de
            Software da UDESC sobre a carreira, oportunidades, dificuldades, e
            dicas para os atuais alunos.
        </p>
        <div class="row">
            <div class="medium-3 columns">
                <img
                    class="img-responsive"
                    src="{{site.urlimg}}foto-brenda-paetzoldt.jpg"
                    alt="Brenda Paetzoldt"
                />
                <p>
                    <a href="https://www.linkedin.com/in/brenda-paetzoldt/"
                        >Brenda Paetzoldt</a
                    ><br />Analista de Migração de Dados | Nydus Systems
                </p>
            </div>
            <div class="medium-3 columns">
                <img
                    class="img-responsive"
                    src="{{site.urlimg}}foto-douglas-martins.jpg"
                    alt="Douglas Martins"
                />
                <p>
                    <a href="https://www.linkedin.com/in/souzadouglasmartins/"
                        >Douglas Martins</a
                    ><br />UX Designer | Globo
                </p>
            </div>
            <div class="medium-3 columns">
                <img
                    class="img-responsive"
                    src="{{site.urlimg}}foto-eloisa-bazzanella.jpg"
                    alt="Eloísa Bazzanella"
                />
                <p>
                    <a
                        href="https://www.linkedin.com/in/elo%C3%ADsa-bazzanella-60464317b/"
                        >Eloísa Bazzanella</a
                    ><br />Backend Developer | PicPay
                </p>
            </div>
            <div class="medium-3 columns">
                <img
                    class="img-responsive"
                    src="{{site.urlimg}}foto-guilherme-lange.jpg"
                    alt="Guilherme Lange"
                />
                <p>
                    <a href="https://www.linkedin.com/in/guilhermelange/"
                        >Guilherme Lange</a
                    ><br />Tech Lead | Siscobra
                </p>
            </div>
        </div>
        <p>
            <strong>Mediador:</strong> Prof. Dr.
            <a href="#fds">Fernando dos Santos</a> (UDESC)
        </p>
        <p>
            <strong>Local:</strong> Auditório UDESC Alto Vale (bloco Imbuia, 3º
            andar)
        </p>
    </div>
</div>

<div class="card tema-sma" id="palestra_c">
    <button class="card-toggle">
        <i class="fa-solid fa-microchip card-icon-left"></i>
        <div class="toggle-text">
            <div class="toggle-title">Sistemas Multiagentes Embarcados</div>
            <div class="toggle-subtitle">11/10 – 19:00 às 20:15</div>
        </div>
        <i class="fa-solid fa-calendar-days card-icon-right"></i>
    </button>
    <div class="card-content">
        <p>
            Palestra sobre o desenvolvimento de Sistemas Multiagentes Embarcados
            com desafios envolvendo eletrônica, programação de baixo nível e
            sistemas cognitivos, com destaque para o uso de spin-off do Jason
            sobre GNU/Linux e integração IoT.
        </p>
        <div class="row">
            <div class="medium-4 columns">
                <img
                    class="img-responsive"
                    src="{{site.urlimg}}foto-carlos-pantoja.jpg"
                    alt="Carlos Eduardo Pantoja"
                />
                <p style="text-align: center">
                    Prof. Dr. Carlos Eduardo Pantoja (CEFET/RJ)
                </p>
            </div>
        </div>
        <p>
            <strong>Local:</strong> Auditório UDESC Alto Vale (bloco Imbuia, 3º
            andar)
        </p>
        <p><strong>Anfitrião:</strong> A definir</p>
    </div>
</div>

<div class="card tema-industria" id="palestra_d">
    <button class="card-toggle">
        <i class="fa-solid fa-briefcase card-icon-left"></i>
        <div class="toggle-text">
            <div class="toggle-title">Painel: Indústria de Software</div>
            <div class="toggle-subtitle">11/10 – 20:45 às 22:00</div>
        </div>
        <i class="fa-solid fa-calendar-days card-icon-right"></i>
    </button>
    <div class="card-content">
        <p>
            Painel sobre desafios e tendências na Engenharia de Software com
            profissionais da indústria.
        </p>
        <div class="row">
            <div class="medium-3 columns">
                <img
                    class="img-responsive"
                    src="{{site.urlimg}}foto-fernanda-gums.jpg"
                    alt="Fernanda Gums"
                />
                <p>
                    <a href="https://www.linkedin.com/in/fernanda-gums/"
                        >Fernanda Gums</a
                    ><br />Product Manager | Mobuss
                </p>
            </div>
            <div class="medium-3 columns">
                <img
                    class="img-responsive"
                    src="{{site.urlimg}}foto-rafael-abrantes.jpg"
                    alt="Rafael Abrantes"
                />
                <p>
                    <a href="https://www.linkedin.com/in/rabrante/"
                        >Rafael Abrantes</a
                    ><br />Developer | IBM
                </p>
            </div>
            <div class="medium-3 columns">
                <img
                    class="img-responsive"
                    src="{{site.urlimg}}foto-rodrigo-candido.jpg"
                    alt="Rodrigo Cândido"
                />
                <p>
                    <a
                        href="https://www.linkedin.com/in/rodrigo-cândido-9b789896/"
                        >Rodrigo Cândido</a
                    ><br />Eng. Software | Panorama Sistemas
                </p>
            </div>
            <div class="medium-3 columns">
                <img
                    class="img-responsive"
                    src="{{site.urlimg}}foto-luis-vieira.jpg"
                    alt="Luis Carlos Vieira"
                />
                <p>
                    <a
                        href="https://www.linkedin.com/in/luis-carlos-vieira-a2672814a/"
                        >Luis Carlos Vieira</a
                    ><br />CTO | Nxfácil
                </p>
            </div>
        </div>
        <p>
            <strong>Mediadora:</strong> Profª. Dra.
            <a href="#mgf">Marília Guterres Ferreira</a> (UDESC)
        </p>
        <p><strong>Local:</strong> Auditório UDESC Alto Vale</p>
    </div>
</div>

<div class="card tema-valerinas" id="meninas_digitais">
    <button class="card-toggle">
        <i class="fa-solid fa-mug-hot card-icon-left"></i>
        <div class="toggle-text">
            <div class="toggle-title">II Encontro das Valerinas</div>
            <div class="toggle-subtitle">12/10 – 15:00</div>
        </div>
        <i class="fa-solid fa-venus card-icon-right"></i>
    </button>
    <div class="card-content">
        <p>
            Encontro das Valerinas para todas as meninas e mulheres, com jogos
            temáticos, café especial e muita conversa.
        </p>
        <div class="row">
            <div class="medium-4 columns">
                <img
                    class="img-responsive"
                    src="{{site.urlimg}}logo-valerinas.png"
                    alt="Logo Valerinas"
                    width="150"
                />
                <p style="text-align: center">
                    Meninas Digitais da UDESC Alto Vale
                </p>
            </div>
        </div>
        <p><strong>Local:</strong> Bloco Imbuia (sala 105)</p>
        <p>
            <strong>Anfitriãs:</strong><br />Acad.
            <a href="#mf">Manoella Felippe</a>,
            <a href="#mefe">Maria Eduarda Müller Ermes</a>,
            <a href="#tba">Thaiane Bento de Almeida</a>
        </p>
    </div>
</div>

<div class="card tema-encerramento" id="palestra_z">
    <button class="card-toggle">
        <i class="fa-solid fa-flag-checkered card-icon-left"></i>
        <div class="toggle-text">
            <div class="toggle-title">Encerramento do Evento</div>
            <div class="toggle-subtitle">14/10 – 20:15 às 20:45</div>
        </div>
        <i class="fa-solid fa-calendar-days card-icon-right"></i>
    </button>
    <div class="card-content">
        <p>
            Divulgação das <a href="#fotos">fotos</a>,
            <a href="#certificados">certificados</a> e
            <a href="#formavaliacao">formulário de avaliação</a> do evento.
        </p>
        <p><strong>Local:</strong> Online, aqui no site do evento.</p>
        <p>
            <strong>Anfitriões:</strong> Profª. Dra.
            <a href="#mgf">Marília Guterres Ferreira</a>, Prof. Dr.
            <a href="#fds">Fernando dos Santos</a>, Prof. Msc.
            <a href="#cab">Carlos Alberto Barth</a>, Prof. Dr.
            <a href="#pm">Paolo Moser</a>
        </p>
    </div>
</div>
